<table>

  <tr style="vertical-align:top">
    <td>
      <%= photo.title %><br>
      <%= image_tag(photo.sizes[4]['source']) %><br>

      <div id="media-partial" class="hidden" >
        <%= render :partial => 'modal', locals: {photo: photo} %>
      </div>

      <a id="add-photo-to-trip">Add to Trip</a>
    </td>

  </tr>

</table>
