<table>

  <tr style="vertical-align:top">
    <td>
      <%= photo.title %><br>
      <%= image_tag(photo.sizes[4]['source']) %><br>

      <div id='media-form' title='Add Item to Selected Trip and Trip Item'>
        <%= render :partial => 'modal', locals: {photo: photo} %>
      </div>

      <button id="add-item">Add Item to Trip</button>

    </td>

  </tr>

</table>
