<table>

  <tr style="vertical-align:top">
    <td>
      <%= photo.title %><br>
      <%= image_tag(photo.sizes[4]['source']) %><br>
      <%= collection_select(:user_trips_items, :trip_item_id, @current_trip_items, :id, :trip_item_name) %>
      <div id="person-form" title="Person" style="display:none"></div>
      <%= button_to 'Add to trip', media_path(url: photo.sizes[4]['source'], source: 'Photo', :remote => true) %>

    </td>

  </tr>

</table>
