<table>

  <tr>
    <td>
      <%= youtubevideo.snippet.title %><br>
      <iframe width=260 height=210 src="http://www.youtube.com/embed/<%= youtubevideo.id.videoId%>"></iframe><br>
    </td>
  </tr>

</table>