<div id="div_msg">
  <%= link_to "Wow",
              {:controller=>"main" , :action=>'ajax_msg' , :id=>'1'},
              :remote => true,
              :class => 'link1',
              :update => "div_hello",
              :id => 'link1'
  %>
</div>

<div id="div_hello">
</div>