<h1>Search Results</h1>
<table>

    <tr style="vertical-align:top">
        <td>
            <div class="flickr">
              <%= render :partial => 'photo', :collection => @photos %>
            </div>
        </td>

        <td>
            <div class="youtube">
              <%= render :partial => 'youtubevideo', :collection => @youtubevideos.data.items %>

            </div>
        </td>
    </tr>

</table>
