<h1>JBHNM</h1>
<h2>This is a YouTube video search...</h2>
<%= form_tag({:controller => 'youtube', :action => 'search'}, :method => 'get') do %>
    <%= label_tag(:text, 'Inspire Me:') %>
    <%= text_field_tag(:text) %>
    <%= submit_tag('Search') %>
<% end %>
