<h1>Flickr#display</h1>

<div class="flickr">
  <table>
    <% @photos.each do |p| %>
        <td>
          <%= image_tag(p.sizes[0]['source']) %><br>
          <%= p.title %>
        </td>
    <% end %>
  </table>
</div>