
<h1>JBHNM Travel</h1>
<h2>Search for places you want to go to...</h2>
<%= form_tag({:controller => "flickr", :action => "flickrsearch"}, :method => "get") do %>
  <%= label_tag(:text, "Inspire Me:") %>
  <%= text_field_tag(:text) %>
  <%= submit_tag("Search") %>
<% end %>

