
<%= form_tag({:controller => "flickr", :action => "flickrsearch"}, :method => "get") do %>
  <%= label_tag(:text, "Search for:") %>
  <%= text_field_tag(:text) %>
  <%= submit_tag("Search") %>
<% end %>

<p>Find me in app/views/flickr/flickrsearch.html.erb</p>