<p>

  <a id="LoginLink">Login</a> |
  <%= link_to "Register", "/auth/identity/register" %>
</p>

<div id="jbhnm-signing-identity" title="Sign In">
  <form>
    <fieldset>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>

<hr />